App_WebReferences/service/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qry" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="registerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoinc">
        <s:complexType />
      </s:element>
      <s:element name="autoincResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoincResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qry1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qry1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search2Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="autoinc1">
        <s:complexType />
      </s:element>
      <s:element name="autoinc1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoinc1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="registerSoapIn">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="registerSoapOut">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="autoincSoapIn">
    <wsdl:part name="parameters" element="tns:autoinc" />
  </wsdl:message>
  <wsdl:message name="autoincSoapOut">
    <wsdl:part name="parameters" element="tns:autoincResponse" />
  </wsdl:message>
  <wsdl:message name="search1SoapIn">
    <wsdl:part name="parameters" element="tns:search1" />
  </wsdl:message>
  <wsdl:message name="search1SoapOut">
    <wsdl:part name="parameters" element="tns:search1Response" />
  </wsdl:message>
  <wsdl:message name="search2SoapIn">
    <wsdl:part name="parameters" element="tns:search2" />
  </wsdl:message>
  <wsdl:message name="search2SoapOut">
    <wsdl:part name="parameters" element="tns:search2Response" />
  </wsdl:message>
  <wsdl:message name="autoinc1SoapIn">
    <wsdl:part name="parameters" element="tns:autoinc1" />
  </wsdl:message>
  <wsdl:message name="autoinc1SoapOut">
    <wsdl:part name="parameters" element="tns:autoinc1Response" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerSoapIn" />
      <wsdl:output message="tns:registerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autoinc">
      <wsdl:input message="tns:autoincSoapIn" />
      <wsdl:output message="tns:autoincSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="search1">
      <wsdl:input message="tns:search1SoapIn" />
      <wsdl:output message="tns:search1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="search2">
      <wsdl:input message="tns:search2SoapIn" />
      <wsdl:output message="tns:search2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="autoinc1">
      <wsdl:input message="tns:autoinc1SoapIn" />
      <wsdl:output message="tns:autoinc1SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoinc">
      <soap:operation soapAction="http://tempuri.org/autoinc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search1">
      <soap:operation soapAction="http://tempuri.org/search1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search2">
      <soap:operation soapAction="http://tempuri.org/search2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoinc1">
      <soap:operation soapAction="http://tempuri.org/autoinc1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoinc">
      <soap12:operation soapAction="http://tempuri.org/autoinc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search1">
      <soap12:operation soapAction="http://tempuri.org/search1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search2">
      <soap12:operation soapAction="http://tempuri.org/search2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoinc1">
      <soap12:operation soapAction="http://tempuri.org/autoinc1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:1080/Scalable%20and%20Secure%20Sharing%20of%20Personal%20Health%20Records/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:1080/Scalable%20and%20Secure%20Sharing%20of%20Personal%20Health%20Records/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>